body{
    background-color: #F1E0C5;
    text-align: center;
}
.navbar {
    background-color: #342A21;
    height: 80px;
}
.navbar-brand{
    color: white;
}
a {
    color: #B58DB6;
}

a:hover {
    color: #4E8098;
  }

h3{
   color: #7F715F;
}

.card-body{
    background-color: #C9B79C;
}
.card-title{
    color: #000000;
}
.btn{
    background-color: #342A21;
}